In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import missingno as mno

In [2]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import BayesianRidge

In [3]:
csv_path = '/users/mvina/OneDrive/SCCMDatathon/pulseox_dataset.csv'

In [4]:
df_sccm = pd.read_csv(csv_path)

C:\Users\mvina\AppData\Local\Temp\ipykernel_44468\2867298657.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sccm = pd.read_csv(csv_path)

In [5]:
df_sccm.shape

(49093, 142)

In [6]:
column_names = df_sccm.columns.tolist()

In [7]:
print("Column Names:", column_names)

Column Names: ['unique_subject_id', 'unique_hospital_admission_id', 'unique_icustay_id', 'subject_id', 'hospital_admission_id', 'icustay_id', 'source_db', 'hospitalid', 'numbedscategory', 'teachingstatus', 'region', 'admission_age', 'sex_female', 'weight_admission', 'height_admission', 'BMI_admission', 'datetime_hospital_admit', 'datetime_hospital_discharge', 'datetime_icu_admit', 'datetime_icu_discharge', 'los_hospital', 'los_ICU', 'comorbidity_score_name', 'comorbidity_score_value', 'in_hospital_mortality', 'race_ethnicity', 'SaO2_timestamp', 'pH', 'pCO2', 'pO2', 'SaO2', 'SpO2', 'Carboxyhemoglobin', 'Methemoglobin', 'SpO2_timestamp', 'delta_SpO2', 'delta_vitals_heart_rate', 'vitals_heart_rate', 'delta_vitals_resp_rate', 'vitals_resp_rate', 'delta_vitals_mbp_ni', 'vitals_mbp_ni', 'delta_vitals_sbp_ni', 'vitals_sbp_ni', 'delta_vitals_dbp_ni', 'vitals_dbp_ni', 'delta_vitals_mbp_i', 'vitals_mbp_i', 'delta_vitals_sbp_i', 'vitals_sbp_i', 'delta_vitals_dbp_i', 'vitals_dbp_i', 'delta_vitals_tempc', 'vitals_tempc', 'delta_cbc_hemoglobin', 'cbc_hemoglobin', 'delta_cbc_hematocrit', 'cbc_hematocrit', 'delta_cbc_mch', 'cbc_mch', 'delta_cbc_mchc', 'cbc_mchc', 'delta_cbc_mcv', 'cbc_mcv', 'delta_cbc_platelet', 'cbc_platelet', 'delta_cbc_rbc', 'cbc_rbc', 'delta_cbc_rdw', 'cbc_rdw', 'delta_cbc_wbc', 'cbc_wbc', 'delta_coag_fibrinogen', 'coag_fibrinogen', 'delta_coag_inr', 'coag_inr', 'delta_coag_pt', 'coag_pt', 'delta_coag_ptt', 'coag_ptt', 'delta_bmp_sodium', 'bmp_sodium', 'delta_bmp_potassium', 'bmp_potassium', 'delta_bmp_chloride', 'bmp_chloride', 'delta_bmp_bicarbonate', 'bmp_bicarbonate', 'delta_bmp_bun', 'bmp_bun', 'delta_bmp_creatinine', 'bmp_creatinine', 'delta_bmp_glucose', 'bmp_glucose', 'delta_bmp_aniongap', 'bmp_aniongap', 'delta_bmp_calcium', 'bmp_calcium', 'delta_bmp_lactate', 'bmp_lactate', 'delta_hfp_alt', 'hfp_alt', 'delta_hfp_alp', 'hfp_alp', 'delta_hfp_ast', 'hfp_ast', 'delta_hfp_bilirubin_total', 'hfp_bilirubin_total', 'delta_hfp_bilirubin_direct', 'hfp_bilirubin_direct', 'delta_hfp_albumin', 'hfp_albumin', 'delta_others_ck_cpk', 'others_ck_cpk', 'delta_others_ck_mb', 'others_ck_mb', 'delta_others_ld_ldh', 'others_ld_ldh', 'delta_sofa_past_overall_24hr', 'sofa_past_overall_24hr', 'delta_sofa_past_coagulation_24hr', 'sofa_past_coagulation_24hr', 'delta_sofa_past_liver_24hr', 'sofa_past_liver_24hr', 'delta_sofa_past_cardiovascular_24hr', 'sofa_past_cardiovascular_24hr', 'delta_sofa_past_cns_24hr', 'sofa_past_cns_24hr', 'delta_sofa_past_renal_24hr', 'sofa_past_renal_24hr', 'delta_sofa_future_overall_24hr', 'sofa_future_overall_24hr', 'delta_sofa_future_coagulation_24hr', 'sofa_future_coagulation_24hr', 'delta_sofa_future_liver_24hr', 'sofa_future_liver_24hr', 'delta_sofa_future_cardiovascular_24hr', 'sofa_future_cardiovascular_24hr', 'delta_sofa_future_cns_24hr', 'sofa_future_cns_24hr', 'delta_sofa_future_renal_24hr', 'sofa_future_renal_24hr']

In [7]:
df_sccm_1 = df_sccm[['subject_id', 'hospital_admission_id', 'source_db', 'admission_age', 'sex_female', 'weight_admission', 'height_admission', 'BMI_admission', 'los_hospital', 'los_ICU', 'comorbidity_score_name', 'comorbidity_score_value', 'in_hospital_mortality', 'race_ethnicity', 'pH', 'pCO2', 'pO2', 'SaO2', 'SpO2', 'vitals_tempc', 'cbc_hemoglobin', 'bmp_sodium', 'bmp_bicarbonate', 'bmp_creatinine', 'sofa_past_overall_24hr', 'sofa_past_cardiovascular_24hr', 'sofa_future_overall_24hr', 'bmp_aniongap', 'bmp_lactate', 'coag_pt', 'hfp_alt', 'hfp_bilirubin_total', 'hfp_albumin']]

In [9]:
df_sccm_1.shape

(49093, 33)

In [12]:
df_sccm_2 = df_sccm[['subject_id', 'hospital_admission_id', 'source_db', 'admission_age', 'sex_female', 'weight_admission', 'height_admission', 'BMI_admission', 'los_hospital', 'los_ICU', 'comorbidity_score_name', 'comorbidity_score_value', 'in_hospital_mortality', 'race_ethnicity', 'pH', 'pCO2', 'pO2', 'SaO2', 'SpO2', 'vitals_tempc', 'cbc_hemoglobin', 'bmp_sodium', 'bmp_bicarbonate', 'bmp_creatinine', 'sofa_past_overall_24hr', 'sofa_past_cardiovascular_24hr', 'sofa_future_overall_24hr']]

In [13]:
df_sccm_2.shape

(49093, 27)

In [14]:
df_sccm_2['p50'] = ((100 * (df_sccm_2['pO2']**2.7111) / df_sccm_2['SpO2']) - (df_sccm_2['pO2']**2.7111))**(1/2.7111)

C:\Users\mvina\AppData\Local\Temp\ipykernel_44468\2570554493.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sccm_2['p50'] = ((100 * (df_sccm_2['pO2']**2.7111) / df_sccm_2['SpO2']) - (df_sccm_2['pO2']**2.7111))**(1/2.7111)

In [15]:
df_sccm_2.shape

(49093, 28)

In [16]:
df_sccm_2.describe()

,hospital_admission_id,admission_age,sex_female,weight_admission,height_admission,BMI_admission,los_hospital,los_ICU,comorbidity_score_value,in_hospital_mortality,...,SpO2,vitals_tempc,cbc_hemoglobin,bmp_sodium,bmp_bicarbonate,bmp_creatinine,sofa_past_overall_24hr,sofa_past_cardiovascular_24hr,sofa_future_overall_24hr,p50
count,4.909300e+04,49091.000000,49093.000000,47989.000000,47809.000000,47108.000000,49093.000000,49093.000000,49091.000000,48689.000000,...,49093.000000,41134.000000,42297.000000,42554.000000,38426.000000,41297.000000,38115.000000,38115.000000,39667.000000,47372.000000
mean,3.714965e+06,64.429549,0.436580,85.611319,169.347372,200.285514,11.547233,5.226004,4.217453,0.175440,...,97.137066,36.739015,11.142147,138.589879,23.831729,1.610437,4.863702,0.984127,6.050344,18.804253
std,7.188941e+06,15.800227,0.495967,27.847338,12.872780,8189.044538,13.662529,7.130980,3.044719,0.380347,...,3.834850,0.942444,2.433666,5.459354,5.976145,1.607343,3.463522,1.115390,3.688183,20.974208
min,1.000680e+05,14.000000,0.000000,0.000000,0.000000,0.000000,-0.264583,0.000000,-15.000000,0.000000,...,70.000000,23.700000,1.900000,99.000000,2.000000,0.100000,0.000000,0.000000,0.000000,0.000000
25%,7.178640e+05,55.000000,0.000000,67.400000,162.560000,23.824857,4.889583,1.666667,2.000000,0.000000,...,96.000000,36.400000,9.400000,136.000000,20.000000,0.800000,2.000000,0.000000,3.000000,0.000000
50%,1.286911e+06,66.000000,0.000000,81.500000,170.000000,28.058219,8.128472,3.041667,4.000000,0.000000,...,98.000000,36.720000,10.900000,139.000000,24.000000,1.100000,4.000000,1.000000,6.000000,20.705404
75%,2.443592e+06,76.000000,1.000000,99.000000,177.800000,33.564014,14.124306,6.125000,6.000000,0.000000,...,100.000000,37.200000,12.700000,142.000000,27.000000,1.750000,7.000000,1.000000,8.000000,26.655233
max,2.999550e+07,90.000000,1.000000,771.200000,504.800000,725551.020400,763.455556,506.375000,41.000000,1.000000,...,100.000000,44.300000,96.000000,188.000000,63.000000,26.600000,24.000000,4.000000,23.000000,385.503260

In [17]:
df_sccm_2.to_csv('C:/users/Mvina/OneDrive/SCCMDatathon/sccm23_p50_2.csv')

In [18]:
missing_percentage2 = (df_sccm_2.isnull().sum() / len(df_sccm_2)) * 100

In [19]:
missing_percentage2

subject_id                        0.000000
hospital_admission_id             0.000000
source_db                         0.000000
admission_age                     0.004074
sex_female                        0.000000
weight_admission                  2.248793
height_admission                  2.615444
BMI_admission                     4.043346
los_hospital                      0.000000
los_ICU                           0.000000
comorbidity_score_name            0.000000
comorbidity_score_value           0.004074
in_hospital_mortality             0.822928
race_ethnicity                    0.000000
pH                                0.000000
pCO2                              0.000000
pO2                               0.000000
SaO2                              0.000000
SpO2                              0.000000
vitals_tempc                     16.212087
cbc_hemoglobin                   13.843114
bmp_sodium                       13.319618
bmp_bicarbonate                  21.728149
bmp_creatinine                   15.880064
sofa_past_overall_24hr           22.361640
sofa_past_cardiovascular_24hr    22.361640
sofa_future_overall_24hr         19.200293
p50                               3.505591
dtype: float64

In [20]:
df_sccm_3a = df_sccm_2.dropna(subset = ["sofa_past_overall_24hr", "in_hospital_mortality","p50"])

In [21]:
df_sccm_3a.shape

(36504, 28)

In [22]:
missing_percentage3a = (df_sccm_3a.isnull().sum() / len(df_sccm_3a)) * 100

In [23]:
missing_percentage3a

subject_id                        0.000000
hospital_admission_id             0.000000
source_db                         0.000000
admission_age                     0.000000
sex_female                        0.000000
weight_admission                  2.175104
height_admission                  2.843524
BMI_admission                     4.144751
los_hospital                      0.000000
los_ICU                           0.000000
comorbidity_score_name            0.000000
comorbidity_score_value           0.002739
in_hospital_mortality             0.000000
race_ethnicity                    0.000000
pH                                0.000000
pCO2                              0.000000
pO2                               0.000000
SaO2                              0.000000
SpO2                              0.000000
vitals_tempc                     13.023230
cbc_hemoglobin                   11.341223
bmp_sodium                       10.968661
bmp_bicarbonate                  17.406312
bmp_creatinine                   11.091935
sofa_past_overall_24hr            0.000000
sofa_past_cardiovascular_24hr     0.000000
sofa_future_overall_24hr         19.249945
p50                               0.000000
dtype: float64

In [24]:
df_sccm_3 = df_sccm_3a[df_sccm_3a["comorbidity_score_name"] == "Charlson"]

In [25]:
df_sccm_3.shape

(35798, 28)

In [26]:
df_sccm_3.describe()

,hospital_admission_id,admission_age,sex_female,weight_admission,height_admission,BMI_admission,los_hospital,los_ICU,comorbidity_score_value,in_hospital_mortality,...,SpO2,vitals_tempc,cbc_hemoglobin,bmp_sodium,bmp_bicarbonate,bmp_creatinine,sofa_past_overall_24hr,sofa_past_cardiovascular_24hr,sofa_future_overall_24hr,p50
count,3.579800e+04,35798.000000,35798.000000,35005.000000,34841.000000,34366.000000,35798.000000,35798.000000,35798.000000,35798.000000,...,35798.000000,31187.000000,31973.000000,32110.000000,30116.000000,31803.000000,35798.000000,35798.000000,28871.000000,35798.000000
mean,4.229630e+06,64.415917,0.445053,85.501419,169.173378,215.874404,11.758357,5.537047,4.176323,0.186463,...,96.942231,36.795603,11.104576,138.622192,23.855180,1.626875,4.811665,0.977289,5.957570,19.165746
std,7.804448e+06,15.849341,0.496979,28.237917,13.057307,8627.832468,14.350123,7.475461,2.786181,0.389485,...,3.829890,0.931084,2.441345,5.526357,6.055387,1.623073,3.427059,1.111019,3.696229,20.411015
min,1.292600e+05,14.000000,0.000000,0.000000,0.000000,0.000000,-0.264583,0.000000,0.000000,0.000000,...,70.000000,23.700000,1.900000,100.000000,2.000000,0.100000,0.000000,0.000000,0.000000,0.000000
25%,7.460468e+05,55.000000,0.000000,67.000000,162.500000,23.724537,4.932639,1.791667,2.000000,0.000000,...,95.000000,36.400000,9.300000,136.000000,20.000000,0.790000,2.000000,0.000000,3.000000,0.000000
50%,1.322821e+06,66.000000,0.000000,81.000000,170.000000,27.989210,8.309028,3.333333,4.000000,0.000000,...,98.000000,36.800000,10.900000,139.000000,24.000000,1.100000,4.000000,1.000000,5.000000,21.084972
75%,2.465594e+06,76.000000,1.000000,99.000000,177.800000,33.613180,14.521701,6.708333,6.000000,0.000000,...,100.000000,37.200000,12.700000,142.000000,27.000000,1.800000,7.000000,1.000000,8.000000,26.741958
max,2.999550e+07,90.000000,1.000000,713.000000,504.800000,725551.020400,763.455556,506.375000,19.000000,1.000000,...,100.000000,44.300000,96.000000,188.000000,63.000000,26.600000,24.000000,4.000000,23.000000,385.503260

In [27]:
df_sccm_3.to_csv('C:/users/Mvina/OneDrive/SCCMDatathon/sccm23_p50_3.csv')

In [28]:
missing_percentage3 = (df_sccm_3.isnull().sum() / len(df_sccm_3)) * 100

In [29]:
missing_percentage3

subject_id                        0.000000
hospital_admission_id             0.000000
source_db                         0.000000
admission_age                     0.000000
sex_female                        0.000000
weight_admission                  2.215208
height_admission                  2.673334
BMI_admission                     4.000223
los_hospital                      0.000000
los_ICU                           0.000000
comorbidity_score_name            0.000000
comorbidity_score_value           0.000000
in_hospital_mortality             0.000000
race_ethnicity                    0.000000
pH                                0.000000
pCO2                              0.000000
pO2                               0.000000
SaO2                              0.000000
SpO2                              0.000000
vitals_tempc                     12.880608
cbc_hemoglobin                   10.684954
bmp_sodium                       10.302252
bmp_bicarbonate                  15.872395
bmp_creatinine                   11.159841
sofa_past_overall_24hr            0.000000
sofa_past_cardiovascular_24hr     0.000000
sofa_future_overall_24hr         19.350243
p50                               0.000000
dtype: float64

In [30]:
df_sccm_3[["p50"]].describe()

                p50
count  35798.000000
mean      19.165746
std       20.411015
min        0.000000
25%        0.000000
50%       21.084972
75%       26.741958
max      385.503260

In [31]:
df_sccm_4a = df_sccm_3[df_sccm_3["p50"]>10]

In [32]:
df_sccm_4b = df_sccm_4a[df_sccm_4a["p50"]<100]

In [33]:
df_sccm_4a.shape

(24155, 28)

In [34]:
df_sccm_4b.shape

(23848, 28)

In [36]:
df_sccm_4b.to_csv('C:/users/Mvina/OneDrive/SCCMDatathon/sccm23_p50_4.csv')

In [35]:
print(df_sccm_4b.columns.tolist())

['subject_id', 'hospital_admission_id', 'source_db', 'admission_age', 'sex_female', 'weight_admission', 'height_admission', 'BMI_admission', 'los_hospital', 'los_ICU', 'comorbidity_score_name', 'comorbidity_score_value', 'in_hospital_mortality', 'race_ethnicity', 'pH', 'pCO2', 'pO2', 'SaO2', 'SpO2', 'vitals_tempc', 'cbc_hemoglobin', 'bmp_sodium', 'bmp_bicarbonate', 'bmp_creatinine', 'sofa_past_overall_24hr', 'sofa_past_cardiovascular_24hr', 'sofa_future_overall_24hr', 'p50']

In [37]:
df_sccm_final = df_sccm_4b[['subject_id', 'hospital_admission_id', 'admission_age', 'sex_female', 'los_hospital', 'los_ICU', 'comorbidity_score_value', 'in_hospital_mortality', 'race_ethnicity', 'pH', 'pCO2', 'pO2', 'SpO2', 'vitals_tempc', 'cbc_hemoglobin', 'bmp_sodium', 'bmp_bicarbonate', 'bmp_creatinine', 'sofa_past_overall_24hr', 'p50']]

In [38]:
df_sccm_final.shape

(23848, 20)

In [39]:
df_sccm_final.describe()

,hospital_admission_id,admission_age,sex_female,los_hospital,los_ICU,comorbidity_score_value,in_hospital_mortality,pH,pCO2,pO2,SpO2,vitals_tempc,cbc_hemoglobin,bmp_sodium,bmp_bicarbonate,bmp_creatinine,sofa_past_overall_24hr,p50
count,2.384800e+04,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,20821.000000,21238.000000,21423.000000,20177.000000,21179.000000,23848.000000,23848.000000
mean,4.205574e+06,64.970815,0.443350,11.569295,5.585981,4.241446,0.188192,7.700758,43.602071,93.703468,95.579084,36.856048,11.247490,138.465966,24.292868,1.616159,4.801702,26.756140
std,7.769750e+06,15.379478,0.496791,13.528632,7.488608,2.748176,0.390874,48.164776,14.736972,42.822412,3.679745,0.886489,2.467057,5.562155,6.279668,1.566367,3.438460,10.847245
min,1.292600e+05,14.000000,0.000000,-0.264583,0.000000,0.000000,0.000000,6.683000,0.000000,33.000000,70.000000,23.700000,3.000000,100.000000,2.000000,0.100000,0.000000,10.025238
25%,7.410632e+05,56.000000,0.000000,4.919965,1.791667,2.000000,0.000000,7.310000,34.300000,69.000000,94.000000,36.440000,9.500000,135.000000,21.000000,0.800000,2.000000,20.841005
50%,1.333188e+06,67.000000,0.000000,8.285764,3.375000,4.000000,0.000000,7.370000,40.600000,83.000000,97.000000,36.800000,11.100000,139.000000,24.000000,1.100000,4.000000,24.690009
75%,2.467345e+06,76.000000,1.000000,14.410764,6.833333,6.000000,0.000000,7.428000,49.000000,104.000000,98.000000,37.300000,12.800000,142.000000,27.000000,1.800000,7.000000,29.194373
max,2.999550e+07,90.000000,1.000000,763.275000,506.375000,19.000000,1.000000,7410.000000,181.700000,542.000000,99.000000,44.300000,96.000000,183.000000,63.000000,22.990000,24.000000,99.876181

In [40]:
df_sccm_final.loc[df_sccm_final["pCO2"] == 0.0, "pCO2"] = np.NAN
df_sccm_final.loc[df_sccm_final["pH"] > 8.0, "pH"] = np.NAN
df_sccm_final.loc[df_sccm_final["cbc_hemoglobin"] > 30.0, "cbc_hemoglobin"] = np.NAN

In [41]:
missing_percentage_final = (df_sccm_final.isnull().sum() / len(df_sccm_final)) * 100
missing_percentage_final

subject_id                  0.000000
hospital_admission_id       0.000000
admission_age               0.000000
sex_female                  0.000000
los_hospital                0.000000
los_ICU                     0.000000
comorbidity_score_value     0.000000
in_hospital_mortality       0.000000
race_ethnicity              0.000000
pH                          0.008386
pCO2                        0.004193
pO2                         0.000000
SpO2                        0.000000
vitals_tempc               12.692888
cbc_hemoglobin             10.952700
bmp_sodium                 10.168568
bmp_bicarbonate            15.393324
bmp_creatinine             11.191714
sofa_past_overall_24hr      0.000000
p50                         0.000000
dtype: float64

In [42]:
missing_vars = ["pH", "pCO2", "vitals_tempc", "cbc_hemoglobin", "bmp_sodium", "bmp_bicarbonate", "bmp_creatinine"]

In [43]:
predictor_vars = ['admission_age', 'sex_female', 'comorbidity_score_value', 'sofa_past_overall_24hr']

In [44]:
from sklearn import linear_model
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.experimental import enable_iterative_imputer
from sklearn.kernel_approximation import Nystroem
from sklearn.linear_model import BayesianRidge, Ridge
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.pipeline import make_pipeline

In [45]:
imputer = IterativeImputer(estimator=KNeighborsRegressor())
imputed_df_sccm_final = imputer.fit_transform(df_sccm_final[predictor_vars + missing_vars])
df_sccm_final[missing_vars] = imputed_df_sccm_final[:, -len(missing_vars):]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\impute\_iterative.py:796: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(
C:\Users\mvina\AppData\Local\Temp\ipykernel_44468\3712242572.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sccm_final[missing_vars] = imputed_df_sccm_final[:, -len(missing_vars):]

In [46]:
df_sccm_final.describe()

,hospital_admission_id,admission_age,sex_female,los_hospital,los_ICU,comorbidity_score_value,in_hospital_mortality,pH,pCO2,pO2,SpO2,vitals_tempc,cbc_hemoglobin,bmp_sodium,bmp_bicarbonate,bmp_creatinine,sofa_past_overall_24hr,p50
count,2.384800e+04,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000,23848.000000
mean,4.205574e+06,64.970815,0.443350,11.569295,5.585981,4.241446,0.188192,7.359974,43.604682,93.703468,95.579084,36.855433,11.282642,138.447603,24.501457,1.566705,4.801702,26.756140
std,7.769750e+06,15.379478,0.496791,13.528632,7.488608,2.748176,0.390874,0.099333,14.734762,42.822412,3.679745,0.841042,2.289953,5.324162,6.121259,1.492863,3.438460,10.847245
min,1.292600e+05,14.000000,0.000000,-0.264583,0.000000,0.000000,0.000000,6.683000,9.000000,33.000000,70.000000,23.700000,3.000000,100.000000,2.000000,0.100000,0.000000,10.025238
25%,7.410632e+05,56.000000,0.000000,4.919965,1.791667,2.000000,0.000000,7.310000,34.300000,69.000000,94.000000,36.500000,9.600000,136.000000,21.000000,0.800000,2.000000,20.841005
50%,1.333188e+06,67.000000,0.000000,8.285764,3.375000,4.000000,0.000000,7.370000,40.600000,83.000000,97.000000,36.800000,11.200000,138.800000,24.000000,1.100000,4.000000,24.690009
75%,2.467345e+06,76.000000,1.000000,14.410764,6.833333,6.000000,0.000000,7.428000,49.000000,104.000000,98.000000,37.200000,12.700000,141.000000,27.400000,1.720000,7.000000,29.194373
max,2.999550e+07,90.000000,1.000000,763.275000,506.375000,19.000000,1.000000,7.778000,181.700000,542.000000,99.000000,44.300000,23.000000,183.000000,63.000000,22.990000,24.000000,99.876181

In [47]:
df_sccm_final.to_csv('C:/users/Mvina/OneDrive/SCCMDatathon/sccm23_p50_final.csv')